BODY {
	SCROLLBAR-FACE-COLOR: #444444; FONT-SIZE: 10px; BACKGROUND-IMAGE: url( ); MARGIN: 0px; SCROLLBAR-HIGHLIGHT-COLOR: #444444; SCROLLBAR-SHADOW-COLOR: #333333; COLOR: #aeaeae; SCROLLBAR-3DLIGHT-COLOR: #555555; SCROLLBAR-ARROW-COLOR: #777777; SCROLLBAR-TRACK-COLOR: #333333; BACKGROUND-REPEAT: repeat; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; SCROLLBAR-DARKSHADOW-COLOR: #333333; BACKGROUND-COLOR: #000000; PADDING-TOP: 0px; FONT-FAMILY: tahoma,arial; TEXT-ALIGN: center
}
TABLE {
	FONT-SIZE: 10px
}
H1 {
	FONT-SIZE: 11px; MARGIN: 2px; COLOR: #aeaeae; FONT-STYLE: normal; FONT-FAMILY: "Verdana", Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
H2 {
	BACKGROUND-POSITION: left 50%; PADDING-LEFT: 18px; FONT-SIZE: 10px; BACKGROUND-IMAGE: url(images/box_left_icon.gif); MARGIN: 0px; COLOR: #888888; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Verdana, Helvetica, sans-serif
}
P {
	FONT-SIZE: 100%; MARGIN: 2px 0px; FONT-FAMILY: Verdana, Helvetica, sans-serif
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 5px; PADDING-TOP: 0px
}
LI {
	PADDING-RIGHT: 0px; MARGIN-TOP: 4px; PADDING-LEFT: 0px; LIST-STYLE-POSITION: outside; MARGIN-BOTTOM: 4px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 10px; PADDING-TOP: 0px; LIST-STYLE-TYPE: disc
}
.SiteMsgBlockBtn {
	BORDER-RIGHT: #333 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #333 1px solid; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 10px; Z-INDEX: 301; RIGHT: 20px; PADDING-BOTTOM: 0px; BORDER-LEFT: #333 1px solid; COLOR: #ffff00; PADDING-TOP: 0px; BORDER-BOTTOM: #333 1px solid; FONT-FAMILY: Arial; POSITION: absolute; BACKGROUND-COLOR: #333
}
.SiteMsgBlock {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; Z-INDEX: 300; RIGHT: 35px; FILTER: progid:DXImageTransform.Microsoft.Alpha(opacity=60); PADDING-BOTTOM: 3px; COLOR: #ff0; PADDING-TOP: 1px; POSITION: absolute; BACKGROUND-COLOR: #333
}
A {
	COLOR: #555555; TEXT-DECORATION: none
}
A:hover {
	COLOR: #555555; TEXT-DECORATION: underline
}
A.footer:link {
	FONT-WEIGHT: bold; FONT-SIZE: 8px; COLOR: #5a5c01; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.footer:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 8px; COLOR: #5a5c01; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #990000
}
A.footer:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 8px; COLOR: #5a5c01; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.maintable {
	BORDER-RIGHT: #232323 1px solid; BORDER-TOP: #232323 1px solid; MARGIN-TOP: 1px; MARGIN-BOTTOM: 1px; BORDER-LEFT: #232323 1px solid; BORDER-BOTTOM: #232323 1px solid; BACKGROUND-COLOR: #303030
}
.tableh1 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: #202020; PADDING-BOTTOM: 3px; COLOR: #6a7786; PADDING-TOP: 3px
}
.tableh1_compact {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: #515b67; PADDING-BOTTOM: 2px; COLOR: #cccccc; PADDING-TOP: 2px
}
.tableb {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: #272727; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
.thumb_caption {
	PADDING-RIGHT: 1px; DISPLAY: block; PADDING-LEFT: 1px; FONT-SIZE: 85%; PADDING-BOTTOM: 1px; COLOR: #606060; PADDING-TOP: 1px; TEXT-DECORATION: none
}
.thumb_caption A {
	COLOR: #aeaeae; TEXT-DECORATION: none
}
.image {
	BORDER-RIGHT: #151515 2px solid; BORDER-TOP: #424242 2px solid; MARGIN: 2px; BORDER-LEFT: #323232 2px solid; BORDER-BOTTOM: #000000 2px solid
}
.thumbnails {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: #383838; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; TEXT-DECORATION: none
}
.topmenu {
	FONT-SIZE: 100%
}
.topmenu A {
	COLOR: #999999; TEXT-DECORATION: none
}
.topmenu A:hover {
	COLOR: #888888; TEXT-DECORATION: none
}
.topmenu TD {
	FONT-WEIGHT: bold; WHITE-SPACE: nowrap

